*{
    margin:0px;
    padding: 0px;
}

@font-face{
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v75/kJF4BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzazHD_dY43zj-jCxv3fzvRNU22ZZLsYEpzC_1sWr5Y0.woff2) format('woff2');
}

@font-face {
    font-family:'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(Font/Roboto-Regular.ttf)
}

@font-face {
    font-family: 'Aleo';
    src: url(Font/Aleo-Regular.ttf);
}

body{
    background-color: #868686;
}

.material-symbols-outlined {
    color: #c2e7ff;
}

#calculadora{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 2px;
    margin: 43px auto;
    max-width: 309px;
    min-height: 540px;
    background-color: #1f1f1f;
}

 #visor{
    display: inline-block;
    word-wrap:break-word; /*NAO SEI*/
    border-bottom-left-radius: 12px ;
    border-bottom-right-radius: 12px;
    padding: 9px;
    padding-top: 50px;
    padding-right: 7px;
    margin: -3px 0px 0px -2px;
    min-width: 297px;
    min-height: 120px;
    text-align:end;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    font-size: 50px;
    color: #f8f8f8;
    background-color: #37393d;
    font-family: 'Aleo'
}

#caixa_botao{
    margin-top: 20px;
    user-select: none; 
}
.botao{
    font-size: 32px;
    text-align: center;
    padding: 8px;
    display: inline-block; 
    border-radius: 45%;
    font-family:'Roboto';
    color: #c2e7ff;
    background-color: #28282a;
    margin-bottom: 8px;
    margin-left: 5px;
    margin-top: 3px;
    min-width: 52px;
    min-height: 50px;
}

#ac{
    background-color: #0c5324;
    color: #c4eed0;
} 
#aba{
    margin:auto;
    background-color: #c4c7c5;
    max-width: 20px;
    min-height: 4px;
    min-height: 4px;
    border-radius: 10px; 
}

footer{
    text-align: center;
    color: #bdc1c6;
    border-top: solid #1c1e21 1.8px;
    font-family: 'Roboto';
    background-color: #202124;
    padding: 30px;
}

.cliqueNumero{
    animation: cliqueNumero 200ms cubic-bezier(0,1.81,1,1.32);
    animation-fill-mode:none;
    animation-delay: 0;
}

.cliqueOperador{
    animation: cliqueOperador 200ms cubic-bezier(0,1.81,1,1.32);
    animation-fill-mode: none;
    animation-delay: 0;
}

footer>p>a{
    color: #e8eaed;;  
}

@keyframes cliqueNumero {
    0%{
    }
    100%{
        background-color: #a0a0a0ad;
    }
}

@keyframes cliqueOperador{
    0%{
    }
    100%{
        background-color: #9ccef1ea;
    }
}

