:root{
    --backgColor: #004a77;
    --hoverBackgColor: #0b598a;
    --fontSz: 3.5rem;
}

#parentese{
    background-color: var(--backgColor);
    font-size: var(--fontSz);
}

#parentese:hover,parentese:active{
    background-color: var(--hoverBackgColor);
    -webkit-tap-highlight-color: transparent ;
}

#porcentagem{
    background-color: var(--backgColor);
    font-size: var(--fontSz);
}
#porcentagem:hover,porcentagem:active{
    background-color: var(--hoverBackgColor);
    -webkit-tap-highlight-color: transparent ;
}


#divisao{
    background-color: var(--backgColor);
    font-size: var(--fontSz);
}
#divisao:hover,divisao:active{
    background-color: var(--hoverBackgColor);
    -webkit-tap-highlight-color: transparent ;
}

#multiplicacao{
    background-color: var(--backgColor);
    font-size: var(--fontSz);
}

#multiplicacao:hover,multiplicacao:active{
    background-color: var(--hoverBackgColor);
    -webkit-tap-highlight-color: transparent ;
}

#soma{
    background-color: var(--backgColor);
    font-size: var(--fontSz);
}

#soma:hover,soma:active{
    background-color: var(--hoverBackgColor);
    -webkit-tap-highlight-color: transparent ;
}


#subtracao{
    background-color: var(--backgColor);
    font-size: var(--fontSz);
}
#subtracao:hover,subtracao:active{
    background-color: var(--hoverBackgColor);
    -webkit-tap-highlight-color: transparent ;
}


#igual{
    background-color: var(--backgColor);
    font-size: var(--fontSz);
}
#igual:hover,igual:active{
    background-color: var(--hoverBackgColor);
    -webkit-tap-highlight-color: transparent ;
}


