html{
    font-size: 62.5%;
}
*{
    margin:0rem;
    padding: 0rem;
}

:root{
    --ease-bounce: cubic-bezier(0.34,1.56,0.64,1);
}

@font-face{
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v75/kJF4BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzazHD_dY43zj-jCxv3fzvRNU22ZZLsYEpzC_1sWr5Y0.woff2) format('woff2');
}

@font-face {
    font-family:'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(Font/Roboto-Regular.ttf)
}

@font-face {
    font-family: 'Aleo';
    src: url(Font/Aleo-Regular.ttf);
}

body{
    background-color: #868686;
}

.material-symbols-outlined {
    color: #c2e7ff;
}

#calculadora{
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding: 0.2rem;
    margin: 4.3rem auto;
    max-width: 30.9rem;
    min-height: 54rem;
    background-color: #1f1f1f;
}

 #visor{
    display: inline-block;
    word-wrap:break-word; /*NAO SEI*/
    border-bottom-left-radius: 1.2rem ;
    border-bottom-right-radius: 1.2rem;
    padding: .9rem;
    padding-top: 5rem;
    padding-right: .7rem;
    margin: -3px 0px 0px -2px;
    min-width: 29.7rem;
    min-height: 10rem;
    text-align:end;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    font-size: 5rem;
    color: #f8f8f8;
    background-color: #37393d;
    font-family: 'Aleo'
}

#caixa_botao{
    margin-top: 2rem;
    user-select: none; 
}

.botao{
    display: inline-block; 
    cursor: pointer;
    font-family:'Roboto';
    color: #c2e7ff;
    background-color: #28282a;
    font-size: 3rem;
    text-align: center;
    line-height: 5rem;

    padding: .8rem;
    border-radius: 50%;
    
    margin-bottom: .8rem;
    margin-left: .5rem;
    margin-top: .3rem;
    min-width: 5.2rem;
    min-height: 5rem;
}

.botao:hover{
    background-color: #323234;
    transition: .2s var(--ease-bounce)
}

.botao:active{
    background-color: #323234;
}

#ac{
    background-color: #0c5324;
    color: #c4eed0;
} 

#aba{
    margin:auto;
    background-color: #c4c7c5;
    max-width: 2rem;
    min-height: .4rem;
    min-height: .4rem;
    border-radius: 1rem; 
}

footer{
    font-size: 1.2rem;
    text-align: center;
    color: #bdc1c6;
    font-family: 'Roboto';
    background-color: #202124;
    padding: 2rem;
}

footer>p>a{
    color: #e8eaed;;  
}

/*
.cliqueNumero{
    animation: cliqueNumero 200ms cubic-bezier(0,1.81,1,1.32);
    animation-fill-mode:none;
    animation-delay: 0;
}

.cliqueOperador{
    animation: cliqueOperador 200ms cubic-bezier(0,1.81,1,1.32);
    animation-fill-mode: none;
    animation-delay: 0;
}



@keyframes cliqueNumero {
    0%{
    }
    100%{
        background-color: #a0a0a0ad;
    }
}

@keyframes cliqueOperador{
    0%{
    }
    100%{
        background-color: #9ccef1ea;
    }
}
*/